                {% load static %}
                <div class="card">
                    <img src="{% static '/app/images/default.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kulki</h5>
                        <p class="card-text">Sa to ciekawe kulki, w bardzo dobrej promocji umozliwajace swietna zabawe
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>500</b> PLN</li>
                        <li class="list-group-item"><b>27-01-2020</b> </li>
                        <li class="list-group-item"><b></b></li>
                    </ul>
                    <div class="card-body">

                        <a href="#" class="btn btn-primary btn-block">Go to offer</a>
                    </div>
                </div>

                    {% comment %} <div class="card">
      <img src="{% static '/app/images/default.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Kulki</h5>
        <p class="card-text">Sa to ciekawe kulki, w bardzo dobrej promocji umozliwajace swietna zabawe</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>500</b> PLN</li>
        <li class="list-group-item"><b>27-01-2020 </li>
        <li class="list-group-item"><b></b></li>
      </ul>
      <div class="card-body">

        <a href="#" class="btn btn-primary btn-block">Go to offer</a>
      </div>
    </div> {% endcomment %}