      {% comment %} quote {% endcomment %}
      <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer class="blockquote-footer">
                  <small class="text-muted">
                      Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
              </footer>
          </blockquote>
      </div>