<div class="navbar-nav ml-auto">
    <ul class="navbar-nav">
        {% if user.is_superuser %}
        <li class="nav-item mr-4">
            <a class="nav-item" href="/admin">
                <button type="button" class="btn btn-secondary">Admin page</button>
            </a>
        </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-item" href="/app/offers/add">
                <button type="button" class="btn btn-secondary">Add +</button>
            </a>
        </li>
        <li class="nav-item ml-4">
            <a class="nav-item" href="/app/logout">
                <button type="button" class="btn btn-danger">Logout</button>
            </a>
        </li>
    </ul>
</div>