{% extends './base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% load bootstrap4 %} {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %} {# Embed Bootstrap CSS #}


{% block content %}
{% include './navbar.html'%}
{% bootstrap_javascript jquery='full' %} {# Embed Bootstrap JS+jQuery #}
{{ form.media }}
<div class="row justify-content-center align-items-center h-100">
    <div class="col-md-5 ">
        <form method="post">
            {% csrf_token %}
            {% comment %} {{form}} {% endcomment %}
            <div class="outer">
                {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field|as_crispy_field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="form-group pt-2">
                {% comment %} <input type="submit" class="btnSubmit" value="Add" /> {% endcomment %}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
            </div>



            {% if messages %}
            <div class="row">
                {% for message in messages %}
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Holy guacamole!</strong> {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}