{% extends './base.html' %}
{% load static %}

{% load random_numbers %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'app/all.css' %}">

{% include './navbar.html'%}


<div class="row rowTest justify-content-center">
  {% include './tabs.html'%}
</div>

<div class="container mt-3">
  <div class="card-columns customized-card-column">

    {% for obj in all_entries %}

    {% include './cards/quoteblue.html'%}


    {% include './cards/bettercustomCard.html' with data=obj %}

    {% comment %} {% include './cards/simple.html' with data=obj%} {% endcomment %}

    {% include './cards/image.html'%}

    {% endfor %}

        <p>A random value {% random_int 1 10 %}</p>
    <p>A random value {% random_int 1 10 %}</p>


    {% comment %} <input type="text" required="" name="username" maxlength="150" id="id_username" autofocus="">
    <div id="other">
      Trigger the handler
    </div>

    <button type="button" id="minus" class="btn btn-danger btn-block" style="float: right; width:50%;">-s</button>
    <button type="button" id="minus" class="btn btn-danger btn-block" style="float: right; width:50%;">-</button>
    <button type="button" id="plus" class="btn btn-success btn-block"
      style="float: left; width:50%;margin-top:0;">+</button>
    <p></p> {% endcomment %}



    {% block javascript %}




    {% comment %} <script> {% endcomment %}
      {% comment %} var myVariable = 0;
      $("#plus").click(function () {
        console.log(++myVariable)
      });

      $("#minus").click(function () {
        console.log(--myVariable)
      });
    </script>

    <script>
      var myVariable = 0;
      $("#other").click(function () {
        console.log(myVariable++)
      });
    </script>


    <script>
      $("#id_username").change(function () {
        console.log($(this).val());
      });
    </script> {% endcomment %}
    {% endblock %}

  </div>
</div>


{% comment %} {% include './footer.html'%} {% endcomment %}
{% endblock %}