{% extends './base.html' %}
{% load static %}

{% load random_numbers %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'app/detail.css' %}">

{% include './navbar.html'%}



{% comment %} <div class="card" style="width: 50rem;">
    <img src={{offer.link_to_image}} class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> {% endcomment %}
<div class="container fill">
    <div class="row align-items-center">
        <div class="col mt-3">
            <div class="card updatedcard">
                <div class="row no-gutters">
                    <div class="col-md-4 cont">
                        <a href={{offer.link}} target="_blank">
                            <img src={{offer.link_to_image}} class="card-img opacityimage"
                                style="max-width:370px; max-height:277px;" alt="Offer image">
                            </img>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{offer.title}}</h5>
                            <p class="card-text">{{offer.description}}</p>
                            <p class="card-text"><small class="text-muted">by {{offer.user}}</small></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="text-danger"><del>{{offer.old_price}}PLN</del></div>
                                <div class="text-success"><b>{{offer.price}}</b> PLN </div>
                                <div class="text-secondary">ratio: {{offer.votes}}</div>
                            </li>
                            <li class="list-group-item"><b>{{offer.date_start|date:"d/m/Y"}}</b> -
                                <b>{{offer.date_end|date:"d/m/Y"}}</b> </li>
                            <li class="list-group-item">
                                <a href="/app/offers/upvote/{{ offer.id }}">
                                    <button type="button" id="plus" class="btn btn-success btn-block"
                                        style="float: left; width:49%;margin-right: 1%;">+</button></a>
                                <a href="/app/offers/downvote/{{ offer.id }}">
                                    <button type="button" id="plus" class="btn btn-danger btn-block"
                                        style="float: left; width:49%;margin-top:0;">-</button>
                                </a>
                            </li>
                            {% if  user == offer.user %}
                            <li class="list-group-item">
                                <a href="/app/offers/{{ offer.id }}/update">
                                    <button type="button" id="plus" class="btn btn-secondary"
                                        style="margin-right: 1%;">Modify</button></a>
                                <a href="/app/offers/delete/{{ offer.id }}">
                                    <button type="button" id="plus" class="btn btn-danger"
                                        style="margin-top:0;">Delete</button>
                                </a>

                                {% comment %} <a href="/app/offers/edit/{{ offer.id }}">
                                    <button type="button" id="plus" class="btn btn-danger btn-block"
                                        style="float: left; width:49;margin-right: 1%;">Edit</button>
                                </a>
                                <a href="/app/offers/delete/{{ offer.id }}">
                                    <button type="button" id="plus" class="btn btn-danger btn-block"
                                        style="float: left; width:49%;margin-top:0;">-</button>
                                </a> {% endcomment %}
                            </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% comment %} <h1> {{offer.id}} </h1>

<p>{{offer.title}}</p>

<p>{{offer.date_published}}</p>

<p>{{offer.date_start|date:"d-m-Y"}}</p>
<p>{{offer.date_end}}</p>
<p>{{offer.link}}</p>
<p>{{offer.description}}</p>
<p>{{offer.link_to_image}}</p> {% endcomment %}


{% comment %} {% include './footer.html'%} {% endcomment %}
{% endblock %}