{% extends './base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'app/home.css' %}">

{% include './navbar.html'%}


<div class="row rowTest justify-content-center">
  <div class="col-4 colTest">
    to ja
  </div>

  <div class="col-4 colTest">
    to ty
  </div>
  <div class="col-6 colTest">
    to ja
  </div>

  <div class="col-6 colTest">
    to ty
  </div>

</div>




{% if user.is_authenticated %}
Hi {{ user.username }}!
<a href="{% url 'logout' %}">logout</a>
{% endif %}
{% endblock %}