{% extends './base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'app/news.css' %}">

{% include './navbar.html'%}


<div class="row rowTest justify-content-center">
  {% include './tabs.html'%}
</div>

<div class="container mt-3">
  <div class="card-columns customized-card-column">
    {% for obj in all_entries %}
    {% include './cards/bettercustomCard.html' with data=obj %}
    {% endfor %}
  </div>
</div>



{% include './footer.html'%}
{% endblock %}